/* For the body adjustments */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    justify-content: center;
}

/* My Color Scheme for the brand  */
:root {
    --primary-blue: #0d6efd;
    --light-blue: #e7f1ff;
    --dark-blue: #052c65;
}

h1, h2, h3 {
    color: black;
}

.hero {
    background-color: var(--primary-blue);
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

#features, #testimonials {
    background-color: #fff;
}

#pricing, #contact {
    background-color: var(--light-blue);
}

.btn-primary {
    background-color: var(--dark-blue);
    border-color: var(--primary-blue);
}
/* when hovering on button changes color*/
.btn-primary:hover {
    background-color: #0a58ca;
    border-color: #0a58ca;
}

.card-header {
    background-color: var(--primary-blue);
    color: white;
}
#Services .card {
  transition: all 0.3s ease;
}
/* when hoverin on services it grows in scale an have a shadow*/
#Services .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
